body {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefbf1;
  background: radial-gradient(circle, transparent 20%, #fefbf1 20%, #fefbf1 80%, transparent 80%, transparent),
              radial-gradient(circle, transparent 20%, #fefbf1 20%, #fefbf1 80%, transparent 80%, transparent) 25px 25px,
              linear-gradient(#f7c600 2px, transparent 2px) 0 -1px,
              linear-gradient(90deg, #f7c600 2px, #fefbf1 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px #ccc;
  width: 300px;
}

.login-box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #f7c600;
}

.login-box label {
  display: block;
  margin-top: 10px;
}

.login-box input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-box button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #f7c600;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #e6b800;
}

.register-link {
  text-align: center;
  margin-top: 10px;
}
